.transparent-background {
    height: 100vh;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.cart {
    height: 100vh;
    width: 50vw;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    background-color: var(--store-color);
    z-index: 15;
}

.transparent-background, .cart {
    display: none;
}