.transparent-background {
    height: 100vh;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.cart {
    height: 100vh;
    width: 50vw;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    background-color: var(--store-color);
    z-index: 15;
    overflow-y: scroll;
}

.transparent-background, .cart {
    /*display: none;*/
}

.cart-name {
    font-size: 2rem;
    color: white;
    border: white double 4px;
    padding: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.cart-image > img {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 200px;
    cursor: pointer;
}

.cart-item {
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 1.2rem 0;
}

.cart-item svg {
    fill: var(--store-color);
    cursor: pointer;
}

.cart-item svg:hover {
    transform: scale(1.3);
}

.cart-delete svg {
    height: 35px;
    width: 35px;    
}

.cart-quantity svg {
    height: 28px;
    width: 28px;
}

.cart-information {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 1.5rem;
}

.cart-title {
    font-weight: 700;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.cart-quantity {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 1rem;
}

.quantity-text {
    font-weight: 700;
}

.cart-price {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /*overflow: hidden;*/
}

.checkout {
    padding: 2rem;
    background-color: white;
    color: var(--store-color);
    margin: 2rem auto;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.checkout:hover {
    transform: scale(1.1);
}

