.sort-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

#sort {
    font-size: 1.3rem;
    padding: .2rem;
    margin-left: .3rem;
}

#sort:hover {
    cursor: pointer;
}